@charset "utf-8";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &-ingame {
    @extend .footer;
    @include flex-justify-center;
    width: 100%;
    height: 9.5em;

    background-color: $color-primary;

    &-divider {
        padding-top: 2.2em;
        width: calc(70% + 2.2em);
        height: 100%;
        border-top: 0.1em solid $color-light;
    }
  } // 定义ingame页面的底部布局和基本样式

  &-result {
    @extend .footer;
    @include flex-justify-between;
    padding: 1em 1.2em;
    width: 100%;

    background-color: $color-result-footer-bg;
    border-top: 0.1em solid $color-light;
  } // 定义result页面的底部布局和基本样式
}
// 定义底部的宽和边距值，并固定在底部，并达到水平居中
