@charset "utf-8";

.main {
    width: 100%;
    padding-top: 4.4em;

    &-home {
        @extend .main;
        padding-top: 4.4em;
        overflow-x: hidden;
    }

    &-ingame {
        position: relative;
        @extend .main;
        background-color: $color-primary;
    }

    &-result {
        @extend .main;
    }
}
// 定义主体内容的边距值