@charset "utf-8";

.main {
    padding-top: 4.4em;

    &-home {
        @extend .main;
        padding: 0 1.8em;
        padding-top: 5.8em;
        padding-bottom: 3em;
    }

    &-ingame {
        position: relative;
        @extend .main;
        background-color: $color-primary;
    }
}
// 定义主体内容的边距值