@charset "utf-8";

.list-group {
  &-result {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  
    padding-left: 0;
    padding-bottom: 6.5em;
  
    background-color: $color-light;
  } // 定义result页面列表组的样式

  &-aside {
    width: 75%;
    height: 100%;
    background-color: $color-light;
  } // 定义aside侧边栏的列表组样式
}
// 定义列表组的样式

.list-group-item {
  &-result {
    @include flex-column;
    padding: 0 12%;
    padding-top: 0.6em;
    padding-bottom: 0.7em;
    border-bottom: 0.1em solid $color-list-border;
  
    &-heading {
      @include flex-justify-between;
      align-items: flex-end; 
  
      & .title {
        margin: 0;
        color: $color-list-title-font;
      }
      & .time {
        color: $color-list-time-font;
      }
    } // 定义result页面列表组的每个列表标题样式
    
    &-text {
      color: $color-list-text-font;
    } // 定义result页面列表组的每个列表正文样式
  }


  &-aside {
    @include flex-align-center;
    @include flex-justify-between;

    padding-left: 1.4em;
    padding-right: 2.6em;
    width: 100%;
    height: 4em;

    border-bottom: 0.1em solid $color-list-border;
    cursor: pointer;
    &:hover {
      background-color: $color-list-border;
    } // 定义aside侧边栏列表基本样式和悬浮状态

    & .icon {
       @include flex-center;
       width: 1.8em;
       height: 1.8em;

       @include fs-(3);
       color: $color-primary;

       border: 0.2em solid $color-primary;
       border-radius: 50%;
    } // 定义aside侧边栏列表图标

    & .text {
      color: $color-primary;
      margin-right: auto;
      margin-left: 1.2em;
    } // 定义aside侧边栏列表文本

    & .arrow {
      width: 1.6em;
      height: 1.6em;

      border-top: 0.2em solid $color-primary;
      border-right: 0.2em solid $color-primary;
      transform: rotate(45deg);
    } // 定义aside侧边栏列表箭头
  } 
  // 定义aside侧边栏列表组的每个列表正文样式
}
// 定义列表组内每个列表的样式
